
.icon-search:before { content: '\e800'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */