<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MedicalCentre - Find a doctor</title>

    <meta name="description" content="MedicalCentre.com is an application where you can easily find an appropriate doctor near you, make an appointment, then evaluate the consultation and ask doctors a medical question."/>
    <meta name="keywords" content="doctors, patients, appointments, opinions, questions, healthcare, medicine"/>
    <meta name="author" content="Justyna Stanek">


    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="stylesheet" href="css/fontello.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap&subset=latin-ext" rel="stylesheet">

</head>

<body>

    <div id="main">

        <header>

            <nav id="logo">MedicalCentre</nav>

            <nav>Ask a doctor</nav>

            <nav class="dropdown">
                <button class="dropbtn">Register</button>

                <div class="dropdown-content">
                    <a href="#">As doctor</a>
                    <a href="#">As patient</a>
                </div>

            </nav>

            <nav>Log in</nav>

        </header>

        <div id="search">

            <h1>Find a doctor and make an appointment</h1>

            <div id="engine">

                <form action="/search"/>

                <input type="text" id="Surname" name="surname" placeholder="Surname">

                <input type="text" id="Specialization" name="specialization" placeholder="Specialization">

                <input type="text" id="City" name="city" placeholder="City">

                <input type="submit" value="Search">

                </form>

            </div>

        </div>

    </div>

    <div id="path">

        <div class="path_position">

            <i class="icon-search"></i>
            <br/>
            Find a specialist

        </div>

        <div class="path_position">

            <i class="icon-calendar-check-o"></i>
            <br/>
            Make an appointment

        </div>

        <div class="path_position">

            <i class="icon-user-md"></i>
            <br/>
            Visit a doctor

        </div>

        <div class="path_position">

            <i class="icon-thumbs-up-alt"></i>
            <br/>
            Give an opinion

        </div>

    </div>

    <hr>

    <div id="contact">

        <div class="social" id="address">

            <div class="logo">MedicalCentre</div><br/>
            10 Masovian Street<br/>
            WARSAW, 01-100<br/>
            +48 000 000 000

        </div>

        <div class="social">

            <a href="https://www.facebook.com" class="sociallink" target="_blank">
                <i class="icon-facebook-rect"></i>
            </a>

        </div>

        <div class="social">

            <a href="https://twitter.com" class="sociallink" target="_blank">
                <i class="icon-twitter-bird"></i>
            </a>

        </div>

        <div class="social">

            <a href="https://www.instagram.com" class="sociallink" target="_blank">
                <i class="icon-instagram-filled"></i>
            </a>

        </div>

        <div class="social">

            <a href="https://www.youtube.com" class="sociallink" target="_blank">
                <i class="icon-youtube"></i>
            </a>

        </div>

    </div>

    <hr/>

    <footer>

        www.medicalcentre.com &copy; 2020 - Find a doctor and make an appointment

    </footer>

</body>
</html>