<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>MedicalCentre - Find a doctor</title>

    <meta name="description" content="MedicalCentre.com is an application where you can easily find an appropriate doctor near you, make an appointment, then evaluate the consultation and ask doctors a medical question."/>

    <meta name="keywords" content="doctors, patients, appointments, opinions, questions, healthcare, medicine"/>

    <link rel="stylesheet" href="styleResults.css" type="text/css"/>
    <link rel="stylesheet" href="css/fontello.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap&subset=latin-ext" rel="stylesheet">

</head>

<body>

        <header>

            <nav id="logo">MedicalCentre</nav>

            <nav id="form">
                <form action="/search"/>

                <input type="text" id="Surname" name="surname" placeholder="Surname">

                <input type="text" id="Specialization" name="specialization" placeholder="Specialization">

                <input type="text" id="City" name="city" placeholder="City">

                <button type="submit" id="searchButton"><i class="icon-search"></i></button>

                </form>
            </nav>

            <nav class="dropdown">
                <button class="dropbtn">Register</button>

                <div class="dropdown-content">
                    <a href="#">As doctor</a>
                    <a href="#">As patient</a>
                </div>

            </nav>

            <nav>Log in</nav>

        </header>

        <div id="main">

        <div id="search">

            <div th:if="${not #lists.isEmpty(doctorsList)}">
                <h1>Recommended doctors: </h1>
            </div>

            <div th:if="${#lists.isEmpty(doctorsList)}">
                <h1>No results found &#9785</h1>
            </div>

            <div th:if="${warning != null}">
                <span class="warning" th:text="${warning}">WARNING</span>
            </div>

            <div id="engine">

                    <div th:each="doctor : ${doctorsList}">
                        <input name="size" type="radio" th:value="${doctor.id}"/>
                        <span th:text="${doctor.email}">Email</span><br/>
                    </div>

            </div>

        </div>

    </div>

    <hr>

    <div id="contact">

        <div class="social" id="address">

            <div class="logo">MedicalCentre</div><br/>
            10 Masovian Street<br/>
            WARSAW, 01-100<br/>
            +48 000 000 000

        </div>

        <div class="social">

            <a href="https://www.facebook.com" class="sociallink" target="_blank">
                <i class="icon-facebook-rect"></i>
            </a>

        </div>

        <div class="social">

            <a href="https://twitter.com" class="sociallink" target="_blank">
                <i class="icon-twitter-bird"></i>
            </a>

        </div>

        <div class="social">

            <a href="https://www.instagram.com" class="sociallink" target="_blank">
                <i class="icon-instagram-filled"></i>
            </a>

        </div>

        <div class="social">

            <a href="https://www.youtube.com" class="sociallink" target="_blank">
                <i class="icon-youtube"></i>
            </a>

        </div>

    </div>

    <hr/>

    <footer>

        www.medicalcentre.com &copy; 2020 - Find a doctor and make an appointment

    </footer>

</body>
</html>